*{
margin:0px;
padding:0px;
}
.div1{
width:70px;
height:30px;
background:silver;
float:left;
margin-left:5px;

}

#spe{
/*position:relative;*/
/*position:absolute;*/
position:fixed;
left:40px;
top:100px;
}
.div2{
position:relative;

width:200px;
height:150px;
left:100px;
top:100px;
background-color:pink;
float:left;
}